@using Projects.Models;
@model ProjectNewListModel
@using Microsoft.AspNetCore.Mvc.Rendering

<div class="card">
    <div class="card-body">

        <div class="container mt-5">
            <h2>Yeni Proje Ekle</h2>
            <form asp-action="Create" method="post" class="needs-validation" novalidate>
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <label for="Name">Proje Adı</label>
                    <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name" required />
                    <div class="invalid-feedback">Lütfen proje adını giriniz.</div>
                </div>

                <div class="form-group">
                    <label for="Desc">Açıklama</label>
                    <textarea class="form-control" id="Desc" name="Desc" required>@Model.Desc</textarea>
                    <div class="invalid-feedback">Lütfen bir açıklama giriniz.</div>
                </div>
                <div class="form-group">
                    <label for="CategoryId">Kategori</label>
                    <select class="form-control" id="CategoryId" name="CategoryId" required>
                        <option value="">Kategori Seçin</option>
                        @foreach (var category in ViewBag.Categories as List<SelectListItem>)
                        {
                            <option value="@category.Value">@category.Text</option>
                        }
                    </select>
                    <div class="invalid-feedback">Lütfen bir kategori seçiniz.</div>
                </div>

                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="OnlyLogin" name="OnlyLogin" @(Model.OnlyLogin ? "checked" : "") />
                    <label class="form-check-label" for="OnlyLogin">Sadece Giriş Yapmış Kullanıcılar</label>
                </div>

                <button type="submit" class="btn btn-primary">Kaydet</button>
                <a href="/Projects" class="btn btn-secondary">İptal</a>
            </form>
        </div>
    </div>
</div>


<script>
    // Form doğrulama için gerekli JavaScript
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            var forms = document.getElementsByClassName('needs-validation');
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>